@using WebApplication1.Models;
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    table {
        border: 2px solid #4CAF50;
    }
    table tr {
        border: 1px solid steelblue;
        text-align: center;
    }
    table tr th,
    table tr td {
        border: 1px solid steelblue;
    }
    table tr th {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        padding: 5px;
        background-color: #cae8ca;
        border: 2px solid #4CAF50;
    }
    .clsTrContent:hover {
        background: white;
    }

    .btnSearch {
        font-weight: 500;
        background: #2691e2;
        border: none;
        transition: 0.2s;
    }
    .btnSearch:hover {
        background: #2282cb;
    }
    .btnClear {
        font-weight: 500;
        background: #f5554a;
        border: none;
        transition: 0.2s;
    }
    .btnClear:hover {
        background: #f44336;
    }
</style>
<form action="/Home/Dashboard" method="post">
    @{
        List<BaseEquipment> pListData = (List<BaseEquipment>)ViewBag.plstData;
        <div id="dvTblBorder" style="height: 400px; width: 500px; overflow: auto; ">
            <div style="text-align: center">
                <h4 style="text-align: center; ">Equipment List</h4>
                <b>Equipment Name</b>  <input type="text" id="txtName" name="txtName" style="border: 1px solid gray" placeholder="Search..."/>
                <input class="btnSearch" type="submit" value="Search" name="btnSubmit"/>
                <input class="btnClear" type="submit" value="Clear" name="btnSubmit"/>
            </div>
            <table style="width: 100%; margin-top: 10px;">
                <tr>
                    <th>Name</th>
                    <th>Count</th>
                    <th>Entry Date</th>
                </tr>

                @foreach (BaseEquipment obj in pListData)
                {
                    if (ViewBag.txtName != "")
                    {
                        if (obj.Name == ViewBag.txtName)
                        {
                            <tr class="clsTrContent">
                                <td>@obj.Name</td>
                                <td>@obj.EcCount</td>
                                <td>@obj.EntryDate.ToString()</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr class="clsTrContent">
                            <td>@obj.Name</td>
                            <td>@obj.EcCount</td>
                            <td>@obj.EntryDate.ToString()</td>
                        </tr>
                    }
                }
            </table>
        </div>
    }
</form>

